{
    "default_server_config": {
        "m.homeserver": {
            "base_url": "https://{{ synapse_hostname }}",
            "server_name": "{{ top_level_domain }}"
        }
    },
    "permalinkPrefix": "https://{{ element_hostname }}",
    "disable_custom_urls": false,
    "disable_guests": false,
    "disable_login_language_selector": false,
    "disable_3pid_login": false,
    "brand": "Element",
    "default_federate": true,
    "default_theme": "light",
    "roomDirectory": {
        "servers": [
            "{{ synapse_hostname }}"
        ]
    }
}
