events {}
http {
    server {
        listen 80;
        listen [::]:80;
        server_name {{ domain }};

        location /.well-known/matrix/server {
            return 200 '{"m.server": "{{ synapse_hostname }}"}';
        }

        location /_matrix/static {
            rewrite ^.*$ https://{{ element_hostname }}? permanent;
        }
    }
}
