events {}
http {
    server {
        listen 80;
        listen [::]:80;
        server_name {{ domain }};

        location /.well-known/webfinger {
            rewrite ^.*$ https://{{ gotosocial_hostname }}/.well-known/webfinger permanent;
        }

        location /.well-known/host-meta {
            rewrite ^.*$ https://{{ gotosocial_hostname }}/.well-known/host-meta permanent;
        }

        location /.well-known/nodeinfo {
            rewrite ^.*$ https://{{ gotosocial_hostname }}/.well-known/nodeinfo permanent;
        }
    }
}
