dn: {{ ldap_admin_user_dn }}
objectClass: top
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
cn: admin
displayName: admin
sn: admin
uid: admin
mail: {{ admin_email_address }}
userpassword: {{ admin_password }}
