dn: {{ ldap_admin_user_dn }}
objectClass: person
objectClass: inetOrgPerson
cn: admin
displayName: admin
sn: admin
uid: admin
mail: {{ admin_email_address }}
userpassword: {{ admin_password_hashed }}
