[log]
  level = "INFO"

[entryPoints]
  [entrypoints.web]
    address= ":80"
    [entrypoints.web.http.redirections]
      [entrypoints.web.http.redirections.entrypoint]
        to = "websecure"
        scheme = "https"
    [entryPoints.web.forwardedHeaders]
      trustedIPs = ["127.0.0.1/32"]
  [entryPoints.websecure]
    address = ":443"
    [entryPoints.websecure.forwardedHeaders]
      trustedIPs = ["127.0.0.1/32"]

[certificatesResolvers.le.acme]
  email = "{{ admin_email_address }}"
  storage = "{{ traefik_certs_location }}/acme.json"
  [certificatesResolvers.le.acme.httpChallenge]
    entryPoint = "web"

[providers.docker]
  exposedByDefault = false
